<!--

"LocationID" : "TAC-3284291",
		"Location" : "123 Main St, Tacoma WA",
		"TrapAmount" : "10",
		"Value" : "$10.00 ",
		"Status" : "ASSIGNED"

-->

<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/topbar %>
        <% include ../partials/nav %>
        <div class="main-panel">
        <div class="content-wrapper">
        <div class="row">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Current Job Status</h4>
                <p class="card-description">Here are the current jobs.</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Location ID</th>
                        <th>Location</th>
                        <th>Amount of Traps</th>
                        <th>Cost</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                      <tr>
                          <td><%= job.LocationID %></td> 
                          <td><%= job.Location %></td> 
                          <td><%= job.TrapAmount %></td> 
                          <td><%= job.Value %></td> 
                          <td>
                                <label class="badge <%= (job.Status == "FAILED") ? "badge-danger" : "badge-success" %>">
                                        <%= job.Status %>
                                </label>
                              
                          </td>
                        </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

        <% include ../partials/footer %>
    </body>
</html>