<!--

"LocationID" : "TAC-3284291",
		"Location" : "123 Main St, Tacoma WA",
		"TrapAmount" : "10",
		"Value" : "$10.00 ",
		"Status" : "ASSIGNED"

-->

<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/topbar %>
        <% include ../partials/nav %>

        <!-- Insert HTML fields here-->
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Review Resource</h4>
                <form class="form-sample">
                  <p class="card-description">
                    Personal info
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.FirstName %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.LastName %>"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Job Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="<%= identity.JobTitle %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Work Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="<%= identity.WorkEmail %>"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Phone Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="<%= identity.PhoneNumber %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-sm-5">
                          <div class="form-radio">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="card-description">

                        <!-- Insert HTML for buisness unit-->

                    Address
                  </p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address 1</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.StreetAddressLine1 %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">State</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.State %>"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address 2</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.StreetAddressLine2 %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Postcode</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.ZipCode %>"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">City</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="<%= identity.City %>"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Country</label>
                        <div class="col-sm-9">
                                <input type="text" class="form-control" value="<%= identity.Country %>"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="/hired"><button type="button" class="btn btn-primary btn-fw">Hire</button></a>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
      </div>

        <% include ../partials/footer %>
    </body>
</html>